:host >>> .ng13-org-chart-entity-box {
    overflow: unset;
    height: 5rem;
    width: 7rem;
    padding: .5rem;
}
:host >>> .ng13-org-chart-entity-box .building {
    position: absolute;
    top: calc(50% - .5rem);
}
:host >>> .ng13-org-chart-entity-box .inputs {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    top: auto;
    display: flex;
}
:host >>> .ng13-org-chart-entity-box .inputs .input {
    margin-right: .2rem;
    white-space: nowrap;
}
:host >>> .ng13-org-chart-entity-box .output {
    position: absolute;
    top: -1.5rem;
}
:host >>> .ng13-org-chart-entity-box .time {
    position: absolute;
    right: -1.5rem;
    top: calc(50% - .5rem);
}
:host >>> .ng13-org-chart-entity-box .amount {
    position: absolute;
    right: -.75rem;
    top: -.75rem;
    font-weight: bold;
}
:host >>> .ng13-org-chart-entity-connector {
    height: 2rem;
}