<angular-org-chart [nodeTemplate]="nodeTemplate" [data]="tree" #exampleChart="orgChart">

</angular-org-chart>

<!-- Node Template -->
<ng-template #nodeTemplate let-node>
    <div class="chart-node">
        <img [src]="node?.image" [alt]="node?.building">
        <div class="building">{{node.getBuilding()}} </div>
        <div class="inputs">
            <div class="input" *ngFor="let input of node.getInput()">{{input.toString()}} </div>
        </div>
        <div class="output">{{node.getOutput().toString()}} </div>
        <div class="time">{{node.getMinutes()}}m </div>
        <div class="amount">{{node?.getAmount()}} </div>
    </div>
</ng-template>